/*https://coolors.co/efabff-eda2f2-dc6bad-8c7aa9-7192be*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --Oxfort-Blue: #102542;
    --Bittersweet: #F87060;
    --Light-gray: #CDD7D6;
    --Grullo: #B3A394;

    background-color: var(--Oxfort-Blue) ;
}

body{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:2%;
    margin-top:1%;
    padding:1%;
    background-color:white;
}
img{
    max-width: 100%;
}

h1, h2, h3, h4, th{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

p, i, b, input, button, td{
    font-family: 'Roboto Mono', monospace,'Lucida Sans Unicode','Lucida Sans', sans-serif;
    font-weight: 600;
}
p{
    font-weight: 200;
}
button{
    background-color:var(--Bittersweet);
    font-weight: 1000;
}
button:active{
    background-color:var(--Grullo);
}


.objects{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.nested{
    border-style: solid;
    border-color: gray;
    margin:6px;
    padding:1%;

}
.nested input{
    width: 2em;
}
.nested img{
    height: 100px;
}
.nested button{
    margin-top:0.3em;
}


/*---------------*/
.cart{
    width: 100%;
}
.cart th{
    background-color: var(--Grullo);
    border:2px solid gray;
    font-weight: lighter;
}

.cart td{
    background-color: var(--Light-gray);
    border:2px solid gray;
}